@model IEnumerable<ExcellProtecaoVeicular.Model.Usuarios>

@{
    ViewBag.Title = "listarUsuario";
}

<h2>listarUsuario</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDUsuarios }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDUsuarios }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDUsuarios })
        </td>
    </tr>
}

</table>
