@model ExcellProtecaoVeicular.Models.Usuarios

@{
    ViewBag.Title = "Login";
    
}
<div style="align-items:center">
    <h4>ACESSO RESTRITO</h4>
    <hr />

    <div class="container" style="margin-top:0 auto;">

        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { htmlAttributes = new { @class = "form-horizontal" } }))
        {

            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.Login, new { @for = "inputEmail3", @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Login, new { htmlAttributes = new { @class = "form-control", @id = "inputEmail3", @placeholder = "Usuario" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Password", htmlAttributes: new { @for = "inputPassword3", @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.password, new { htmlAttribute = new { @class = "form-control", @id = "inputPassword3", @placeholder = "Password" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Tipo de Usuario", htmlAttributes: new { @for = "inputPassword3", @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(x => x.TipoUsuario, new { htmlAttribute = new { @class = "form-control", @id = "inputPassword3", @placeholder = "Password" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Acessar" class="btn btn-default" />
                </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @if (ViewData["log"] != null)
                        {
                        @ViewData["log"].ToString()
                        }
                    </div>
                </div>          
        }
    </div>
    </div>


