@model ExcellProtecaoVeicular.Areas.admin.Models.ClienteViewModel

@{
    ViewBag.Title = "cadastrarClientes";

}

<div class="container">
    <h2>Cadastro de Clientes</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Dados do Cliente</a></li>        
    </ul>
  

    
    
        @using (Html.BeginForm("cadastrarClientes", "_admin", FormMethod.Post))
        {
        <div id="home" class="tab-pane fade in active">
            <h3>Cliente</h3>
            <div class="form-group col-md-3">
                @Html.LabelFor(cli => cli.Clientes.Nome)
                @Html.TextBoxFor(cli => cli.Clientes.Nome)
            </div>            
            <div class="form-group col-md-3">              
                @Html.LabelFor(cli => cli.Clientes.Cpf)
                @Html.TextBoxFor(cli => cli.Clientes.Cpf)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(cli => cli.Clientes.Rg)
                @Html.TextBoxFor(cli => cli.Clientes.Rg)
            </div>            
            <div class="form-group col-md-3">
                @Html.LabelFor(cli => cli.Clientes.DataNasci)
                @Html.TextBoxFor(cli => cli.Clientes.DataNasci)
            </div>            
            <div class="form-group col-md-3">
                @Html.LabelFor(cli => cli.Clientes.Cnh)
                @Html.TextBoxFor(cli => cli.Clientes.Cnh)
            </div>            
            <div class="form-group col-md-3">
                @Html.LabelFor(cli => cli.Clientes.Email)
                @Html.TextBoxFor(cli => cli.Clientes.Email)
            </div>
            @* Endereco *@
            <div class="row"></div>
            <h3>Endereço</h3>            
            <div class="form-group col-md-3">
                
                @Html.LabelFor(end => end.Endereco.Rua)
                @Html.TextBoxFor(end => end.Endereco.Rua)
            </div>            
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Endereco.Quadra)
                @Html.TextBoxFor(end => end.Endereco.Quadra)
            </div>             
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Endereco.Lote)
                @Html.TextBoxFor(end => end.Endereco.Lote)
            </div>             
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Endereco.UF)
                @Html.EnumDropDownListFor(end => end.Endereco.UF)
            </div>
            @* Telefone *@
            <div class="row"></div>
            <h3>Telefone</h3>
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Telefone.DDD)
                @Html.TextBoxFor(end => end.Telefone.DDD)
            </div> 
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Telefone.Tel_Casa)
                @Html.TextBoxFor(end => end.Telefone.Tel_Casa)
            </div> 
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Telefone.Tel_Celular)
                @Html.TextBoxFor(end => end.Telefone.Tel_Celular)                
            </div> 
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Telefone.Tel_Recado)
                @Html.TextBoxFor(end => end.Telefone.Tel_Recado)
            </div> 
            @* Veiculos *@
            <div class="row"></div>
            <h3>Veiculos</h3>
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Veiculos.Marca)
                @Html.TextBoxFor(end => end.Veiculos.Marca)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Veiculos.Modelo)
                @Html.TextBoxFor(end => end.Veiculos.Modelo)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(end => end.Veiculos.Placa)
                @Html.TextBoxFor(end => end.Veiculos.Placa)
            </div>
            @* Beneficios *@
            <div class="row"></div>
            <h3>Beneficios</h3>
            <div class="form-group col-md-3">
                @Html.LabelFor(b => b.Beneficios.Horas_Veiculos)
                @Html.CheckBoxFor(b => b.Beneficios.Horas_Veiculos)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(b => b.Beneficios.HorasAgregados)
                @Html.CheckBoxFor(b => b.Beneficios.HorasAgregados)
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(b => b.Beneficios.Vidros)
                @Html.CheckBoxFor(b => b.Beneficios.Vidros)
            </div>
            
            <div class="row"></div>

            
            @*<input type="text" list="cidades" autocomplete="on">
            <datalist id="cidades">
                <option value="Brasília">
                <option value="Rio de Janeiro">
                <option value="São Paulo">
            </datalist>*@
        <input value="Salvar" id="btnCli" type="submit" name="Salvar Cliente" />
        </div>
        }

    @{ 
        if(TempData["Mensagem"]!=null)
        {

            <div class="page-header">
                <h1>Alerta</h1>
            </div>
            <div class="alert alert-success" role="alert">
                <strong>Informação</strong>@TempData["Mensagem"]
            </div>
        }
        else if (TempData["Mensagem de Erro"] != null)
        {
            <div class="page-header">
                <h1>Alerta</h1>
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Atenção</strong>@TempData["Mensagem de Erro"]
            </div>
        }
    }
    
    </div>
    
