@model ExcellProtecaoVeicular.Model.Entity.ClienteViewModel

@{
    ViewBag.Title = "cadastrarClientes";

}

<div class="container">
    <div class="row" style="padding: 1px;"></div>
            @using (Html.BeginForm("", "", new { controller = "Administrador", action = "cadastrarClientes" }, FormMethod.Post,new { enctype = "multipart/form-data" }))
            {
                            @Html.ValidationSummary()

                            <fieldset>
                                <legend> Dados Pessoais </legend>
                                   <div class="panel-heading" style="text-align:center">
                        <div class="panel-body" style="border-radius:10px;">
                            <div class="form-group row">
                                @Html.LabelFor(cli => cli.Clientes.Nome, new { @class = "control-label col-md-1 paddingLabel TamanhowidthLabel", @style = "padding-top:5px;" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(cli => cli.Clientes.Nome, new { @class = "form-control col-md-12", @placeholder = "Informar o nome completo" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(cli => cli.Clientes.Cpf, new { @class = "control-label col-md-1 paddingLabel widthLabel", @style = "padding-top:5px;" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(cli => cli.Clientes.Cpf, new { @class = "form-control", @placeholder = "Informar CPF", @id = "Formatcpf" })
                                </div>
                                @Html.LabelFor(cli => cli.Clientes.Rg, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:3.333332%" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(cli => cli.Clientes.Rg, new { @class = "form-control",@id="FormatApenasNumbers" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(cli => cli.Clientes.DataNasci, new { @class = "control-label col-md-1", @style = "padding-top:5px;" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(cli => cli.Clientes.DataNasci, new { @class = "form-control",@placehorder="Informar o RG" })
                                </div>
                                @Html.LabelFor(cli => cli.Clientes.Cnh, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:3.333332%" })
                                <div class="col-md-2">
                                    @Html.TextBoxFor(cli => cli.Clientes.Cnh, new { @class = "form-control" })
                                </div>
                                @Html.LabelFor(cli => cli.Clientes.Email, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:5.1111133333%" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(cli => cli.Clientes.Email, new { @class = "form-control",@id="inputEmail" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            <fieldset>
                <legend>Endereço</legend>
                <div class="panel-heading">
                    <div class="panel-body" style="border-radius:10px;">
                        <div class="form-group row">
                            @Html.LabelFor(end => end.Endereco.Rua, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:3.333333333%" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(end => end.Endereco.Rua, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Endereco.Quadra, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:5.33333%" })
                            <div class="col-md-1">
                                @Html.TextBoxFor(end => end.Endereco.Quadra, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Endereco.Lote, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:3.33333%" })
                            <div class="col-md-1">
                                @Html.TextBoxFor(end => end.Endereco.Lote, new { @class = "form-control" })
                            </div>
                                @Html.LabelFor(end => end.Endereco.Bairro, new { @class = "control-label col-md-1", @style = "padding-top:5px;" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(end => end.Endereco.Bairro, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Endereco.UF, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:2.333333%" })
                            <div class="col-md-1" style="width:9.222222%;">
                                @Html.EnumDropDownListFor(end => end.Endereco.UF, "UF", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Telefone</legend>
                <div class="panel-heading">
                    <div class="panel-body">
                        <div class="form-group row">
                            @Html.LabelFor(end => end.Telefone.Tel_Casa, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:7.333333%%" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(end => end.Telefone.Tel_Casa, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Telefone.Tel_Celular, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:7.333333%%" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(end => end.Telefone.Tel_Celular, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Telefone.Tel_Recado, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:7.333333%%" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(end => end.Telefone.Tel_Recado, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Veiculos</legend>
                <div class="panel-heading">
                    <div class="panel-body">
                        <div class="form-group row">
                            @Html.LabelFor(end => end.Veiculos.Marca, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:7.333333%%" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(end => end.Veiculos.Marca, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Veiculos.Modelo, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:7.333333%%" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(end => end.Veiculos.Modelo, new { @class = "form-control" })
                            </div>
                            @Html.LabelFor(end => end.Veiculos.Placa, new { @class = "control-label col-md-1", @style = "padding-top:5px;width:7.333333%%" })
                            <div class="col-md-2">
                                @Html.TextBoxFor(end => end.Veiculos.Placa, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    Beneficicios
                </legend>
                <div class="panel-heading">
                    <div class="panel-body">
                        @Html.LabelFor(b => b.Beneficios.Horas_Veiculos, new { @class = "control-label col-md-1", @style = "width: 10.333333%;padding-top:5px;" })
                        <div class="col-md-2">
                            @Html.CheckBoxFor(b => b.Beneficios.Horas_Veiculos, new { @class = "custom-control-input", @style = "margin-left: 9%;zoom: 1.6;" })
                        </div>
                        @Html.LabelFor(b => b.Beneficios.HorasAgregados, new { @class = "control-label col-md-1", @style = "width: 10.333333%;padding-top:5px;" })
                        <div class="col-md-2">
                            @Html.CheckBoxFor(b => b.Beneficios.HorasAgregados, new { @class = "custom-control-input", @style = "margin-left: 9%;zoom: 1.6;" })
                        </div>
                        @Html.LabelFor(b => b.Beneficios.Vidros, new { @class = "control-label col-md-1", @style = "width: 4.333333%;padding-top:5px;" })
                        <div class="col-md-2">
                            @Html.CheckBoxFor(b => b.Beneficios.Vidros, new { @class = "custom-control-input", @style = "margin-left: 9%;zoom: 1.6;" })
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    Carregar Imagens
                </legend>
                <div class="panel-heading">
                    <div class="panel-body">
                        <div id="Uploader">
                            <input class="form-control" type="file" name="photos[]" id="photoimg" accept="image/jpg" multiple />
                        </div>
                    </div>
                </div>
            </fieldset>
        <input value="Salvar" id="btnCli" type="submit" name="Salvar Cliente" />
        }

    @{
        if(TempData["Mensagem"]!=null)
        {

            <div class="page-header">
                <h1>Alerta</h1>
            </div>
            <div class="alert alert-success" role="alert">
                <strong>Informação: </strong>@TempData["Mensagem"]
            </div>
        }
        else if (TempData["Mensagem de Erro"] != null)
        {
            <div class="page-header">
                <h1>Alerta</h1>
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Atenção: </strong>@TempData["Mensagem de Erro"]
            </div>
        }
    }

    </div>
