@model ExcellProtecaoVeicular.Model.Entity.ListDadosImagesViewModel

@{
    ViewBag.Title = "Detalhes Do Cliente ";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h4>Nome Do Cliente: @Model.Cliente.Nome.ToString()</h4><p>Código do Cliente - @Model.Cliente.IDCliente</p><br />
    <h4>Endereço:</h4> <label>@Model.Endereco.Rua @Model.Endereco.Quadra @Model.Endereco.Lote @Model.Endereco.Bairro @Model.Endereco.Cidade</label>
    <h4>Telefones:</h4> <label>Casa: @Model.Telefone.Tel_Casa</label> <label>Celular: @Model.Telefone.Tel_Celular</label> <label>Recado @Model.Telefone.Tel_Recado</label>
</div>
<div class="container">
    <h4>Veiculo</h4><label>Marca: @Model.Veiculos.Marca Modelo:@Model.Veiculos.Modelo Placa: @Model.Veiculos.Placa</label>
    <div><h4>Tipo do Veiculo:</h4><label>@Model.Veiculos.EnumTipoDeVeiculos.ToString().ToUpper()</label></div>
 @{ Html.RenderPartial(
  "~/Areas/admin/Views/_admin/Sections/SectionSalvarImagens.cshtml");}
    <div class="row"></div>
    
    @foreach (var item in Model.Imagens)
    {
        @if (item.NameImage.IsEmpty())
        {
            <div class="container">
                <div class="col-md-10">
                    <p>Nenhuma Imagem Foi carregada.</p>
                    @Html.ActionLink("Adicionar Imagem","",new { id = item.ID})
                </div>
            </div>    
        }
        <div class="col-md-6">
            <img src="~/images/CarroDeClientes/@item.NameImage.ToString()" class="img-rounded" width="404" height="236" /> <br />
           @Html.ActionLink("Excluir Imagem","", new { id = item.ID})
        </div>
    }

</div>

