@model ExcellProtecaoVeicular.Models._Email
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
<div class="container">
    <section class="main-section contact" id="contact">

        <div class="row">
            <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="contact-info-box address clearfix">
                    <h3><i class=" icon-map-marker"></i>Endereço:</h3>
                    <span>Av.da Paz, S/N, Qd. 147, Lt 31, 1º andar Sala 01.<br>Setor Garavelo, Aparecida de Goiania.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                    <h3><i class="fa-phone" style="margin-left: -7px;"></i>Telefone:</h3>
                    <span>(62) 3578 - 2595</span>
                </div>
                <div class="contact-info-box phone clearfix">
                    <h3><i class="fa fa-whatsapp" style="margin-left: -13px;"></i>WhatsApp:</h3>
                    <!-- <span>(62) 98113 - 3134 (Tim)</span> -->
                    <span>(62) 99198 - 1684 (Claro)</span>
                    <span style="margin-left: 115px;">(62)98595 - 0990 (Oi)</span>
                    <span style="margin-left: 115px;">(62)99322 - 8338 (Claro)</span>
                    <span style="margin-left: 115px;">(62)99271 - 4702 (Claro)</span>

                </div>
                <div class="contact-info-box email clearfix">
                    <h3><i class="fa-pencil"></i>e - mail:</h3>
                    <span>contato@excellprotecaoveicular.com.br</span>
                </div>
                <div class="contact-info-box hours clearfix">
                    <h3><i class="fa-clock-o"></i>Horarios:</h3>
                    <span><strong>Segunda - Sexta:</strong> 08:00 - 18:00<br><strong>Sábado:</strong> 08:00 - 12:00</span>
                </div>
                <ul class="social-link">
                    <li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <div class="form">
                    <p>Nome :</p>
                    @Html.TextBoxFor(m => m.Nome);
                    <p>Email :</p>
                    @Html.TextBoxFor(m => m.Email);
                    <p>Telefone :</p>
                    @Html.TextBoxFor(m => m.Telefone);
                    <p>Mensagem :</p>
                    @Html.TextAreaFor(m => m.Mensagem);
                    
                    @*<input class="input-text" type="text" name="" value="Seu Nome *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                    <input class="input-text" type="text" name="" value="Seu E-mail *" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                    <textarea class="input-text text-area" cols="0" rows="0" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Sua Mensagem *</textarea>*@
                    <input class="input-btn" type="submit" value="Enviar mensagem">
                </div>
            </div>
        </div>
    </section>
</div>
}