@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryvalidate")
    @Scripts.Render("~/bundles/jqueryMaskedInput")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Html.ActionLink("Excell Protecao Veicular", "Index", "Home", new { area = "admin" }, new { @class = "navbar-brand" })
                        </li>                        
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                CLIENTES<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("CADASTRO", "cadastrarClientes", "_admin")</li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">ALTERAR DADOS DO CLIENTE</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">LISTAR CLIENTES</a></li>
                                <li role="separator" class="divider"></li>                                
                                @*<li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>*@
                            </ul>
                        </li>
                      </ul>
                </div>
            </div>
    </div>
</div>

    <div class="container body-content" style="margin-top:52px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DESENVOLVEDOR BRENDON GENSSINGER <br />
            CONTATO: (62) 99102 - 9827</p>
        </footer>
    </div>
</body>
</html>